$primary: #333366;
$secondary:#ededed;
$danger: #e71921;
$info: #3573B1;
$success: #218748;
$light: #ededed;
$dark: #595959;

$true-white: #ffffff;
$true-black: #000000;

$gray1: #f7f7f7;
$gray2: #ededed;
$gray3: #d8d8d8;
$gray4: #999999;
$gray5: #595959;

/*Chart Colors*/
$blue:     #3e7ec0;
$orange:   #e96d25;
$lavender: #9a9ae0;
$green:    #489375;
$violet:   #AF5A83;
$gold:     #BDA833;
$red:      #D63D43;
$teal:     #0FA5AC;
$tan:      #C3A384;




$chart-color1: $blue;
$chart-color2: $orange;
$chart-color3: $lavender;
$chart-color4: $green;
$chart-color5: $violet;
$chart-color6: $gold;
$chart-color7: $red;
$chart-color8: $teal;
$chart-color9: $tan;
$chart-color10: darken($blue, 15%);
$chart-color11: darken($orange, 15%);
$chart-color12: darken($lavender, 15%);
$chart-color13: darken($green, 15%);
$chart-color14: darken($violet, 15%);
$chart-color15: darken($gold, 15%);
$chart-color16: darken($red, 15%);
$chart-color17: darken($teal, 15%);
$chart-color18: darken($tan, 15%);



$body-color: $dark;
$link-color: $info;


$table-head-color: $true-white;
$table-head-bg: $primary;
$table-dark-bg: $dark;
$table-light-bg: $gray2;
$btn-border-radius: 30px;



$headings-color: $primary;
$headings-font-weight: 600;

$enable-responsive-font-sizes: true;


.chart-color1{
    background-color: $chart-color1;
    color: $true-black;
    stroke: $chart-color1;
}

.chart-color2{
    background-color: $chart-color2;
    color: $true-black;
    stroke: $chart-color2;
}

.chart-color3{
    background-color: $chart-color3;
    color: $true-black;
    stroke: $chart-color3;
}

.chart-color4{
    background-color: $chart-color4;
    color: $true-black;
    stroke: $chart-color4;
}

.chart-color5{
    background-color: $chart-color5;
    color: $true-black;
    stroke: $chart-color5;
}

.chart-color6{
    background-color: $chart-color6;
    color: $true-black;
    stroke: $chart-color6;
}

.chart-color7{
    background-color: $chart-color7;
    color: $true-black;
    stroke: $chart-color7;
}

.chart-color8{
    background-color: $chart-color8;
    color: $true-black;
    stroke: $chart-color8;
}

.chart-color9{
    background-color: $chart-color9;
    color: $true-black;
    stroke: $chart-color9;
}

.chart-color10{
    background-color: $chart-color10;
    color: $true-white;
    stroke: $chart-color10;
}

.chart-color11{
    background-color: $chart-color11;
    color: $true-white;
    stroke: $chart-color11;
}

.chart-color12{
    background-color: $chart-color12;
    color: $true-white;
    stroke: $chart-color12;
}

.chart-color13{
    background-color: $chart-color13;
    color: $true-white;
    stroke: $chart-color13;
}

.chart-color14{
    background-color: $chart-color14;
    color: $true-white;
    stroke: $chart-color14;
}

.chart-color15{
    background-color: $chart-color15;
    color: $true-white;
    stroke: $chart-color15;
}

.chart-color16{
    background-color: $chart-color16;
    color: $true-white;
    stroke: $chart-color16;
}

.chart-color17{
    background-color: $chart-color17;
    color: $true-white;
    stroke: $chart-color17;
}
.chart-color18{
    background-color: $chart-color18;
    color: $true-white;
    stroke: $chart-color18;

}


.navbar{
    border-bottom: solid 5px $primary;
    -webkit-box-shadow: 0 -10px 16px 10px $gray4;
   -moz-box-shadow: 0 -10px 16px 10px $gray4;
    box-shadow: 0 -10px 16px 10px $gray4;

    .navbar-brand img {
        max-width: 10em;
        height: 1.8em;
    }

    .nav-link { color: $primary }
    .nav-link:focus { color: $gray4; }


}
  
.card{

        .card-header{
            color: $true-white;
            background: $primary;
            
        }
        .card-header .btn{
            color: $true-white;
        }
        .card-header .btn:hover{
            color: $gray1;
        }
    
}



.gray-card{
    border: solid 1px $gray3;
    border-radius: 4px;

    .card-header{

        background-color: $gray2;
    }
    
    .card-body{

        background-color: $gray1;
    }

    .card-footer{

        background-color: $gray2;
    }
}


.gray{
    color: $dark;
}